<div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h1>Home</h1>
    <p>This is the home page</p>
    <p>It uses the header and footer partials</p>
    <p>It also uses the header and footer partials with the @partial suffix</p>
    <p>It also uses the header and footer partials with the @partial suffix and the .handlebars extension</p>
    <p>It also uses the header and footer partials with the @partial suffix and the .hbs extension</p>
    <p>That represent real data: {{name}}, {{version}}</p>
    <img src="/imgs/imgs.png" alt="">
</div>
<script src="/js/test.js"></script>